NODE_ENV=development

# Web
NEXT_PUBLIC_APP_NAME=Lumera Licitacoes
NEXT_PUBLIC_API_URL=http://localhost:3001

# API
PORT=3001
APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lumera
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
REDIS_URL=redis://localhost:6379
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_PORT=9000
STORAGE_SSL=false
STORAGE_ACCESS_KEY=minio
STORAGE_SECRET_KEY=minio123
STORAGE_BUCKET_ATTACHMENTS=lumera-attachments
